<article>
    <p>
        Para saber más sobre mi o sobre mi trabajo, no dudes en ponerte en contacto conmigo.
        Estoy aquí para ayudarte. Envíame tu consulta al 4431163465 y a la brevedad responderé todas tus dudas.
    </p>
    <p>
        O nos ponemos de acuerdo para agendar una cita en persona y conocer tus necesidades. Nos adaptamos
        a lo tu presupuesto, necesidades, alcance, etc.
    </p>
    <p>
        Dirección: Taurus #15 Galaxias, Tarimbaro, Michoacán. A 25 min del centro histórico de Morelia
    </p>
    <p>
        Sitio Web: Pendiente.
    </p>
    <p>
        Horarios de Atención: Lunes a Viernes 09 a 20hs.
    </p>
</article>