<article>
    <p>
        Para saber más sobre mi o sobre mi trabajo, no dudes en ponerte en contacto conmigo.
    </p>
    <p>
        Estoy aquí para ayudarte. Envíame tu consulta y a la brevedad responderé todas tus dudas.
    </p>
    <p>
        O nos ponemos de acuerdo para agendar una cita en persona.
    </p>
    <p>    
        Consultas o sugerencias!
    </p>
    <p>
        Dirección: Taurus #15 Galaxias, Tarimbaro, Michoacán. A 25 min del centro histórico de Morelia
    </p>
    <p>
        Sitio Web: Pendiente.
    </p>
    <p>
        Horarios de Atención: Lunes a Viernes 10 a 20hs.
    </p>
</article>