<div class="container">
    <div class="image">
        <img src="{{url+'get-image/'+project.img}}" *ngIf = "project.img" />
    </div>
    <div class="data">
        <h1>{{project.name}}</h1>
        <h3>{{project.description}}</h3>
        <p>Categoría: {{project.category}}.</p>  
        <p>Lenguajes: {{project.langs}}.</p>         
        <p>Año de publicación: {{project.year}}.</p>   
        <a (click)="verProject(project._id)" class="buttonEdit">Editar</a>
        <a (click)="deleteProject(project._id)" class="buttonDelete">Borrar</a>
    </div>
</div>