<div class="container">
    <h2 class="tittle">Portafolio</h2>
    <ul>
        <li *ngFor="let project of projects" class="project">
            <div class="image">
                <img src="{{url+'get-image/'+project.img}}" *ngIf = "project.img" />
            </div>
            <h3>
                <a [routerLink]="['/proyecto', project._id]">
                    {{project.name}}
                </a>
            </h3>
            <span>Categoría: {{project.category}}.</span>
        </li>
    </ul>
</div>
