
.project{
    list-style: none;
    float: left;
    display: block;
    width: 28%;
    text-align: center;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 20px;
}

.project .image{
    width: 100px;
    height: 100px;
}

.project img{
    border: 3px groove;
    margin-left: 80px;
    margin-right: 30px;
    width: 100px;
    height: 75px;
}

.tittle{
    width: 80%;
    margin: 0px auto; 
    margin-bottom: auto;
    margin-top: 5%;
    font-family: 'roboto';
    font-size: 40px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 5px;
    text-align: center;
}
