<section class="container" *ngIf="project">
    <h2>{{tittle}}</h2>
    <img id="img" src="../assets/img/shattered-island.jpg"/>
    <div class="message succes" *ngIf="status == 'sucess'">
        <p>El proyecto se ha creado correctamente. 
            <a [routerLink]="['/proyecto', saveProject._id]">Ver proyecto.</a>
        </p>
    </div>
    <div class="message failed" *ngIf="status == 'failed'">
        <p>El poyecto NO SE HA PODIDO CREAR.</p>
    </div>
    <form #projectForm = "ngForm" (ngSubmit) ='onSubmit(projectForm)'>
        <p>
            <label for="name">Nombre:</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required/>
            <span *ngIf="name.touched && !name.valid" class="form_error">El nombre no es valido.</span>
        </p>
        <p>
            <label for="description">Descripción:</label>
            <input type="text" name="description" #description="ngModel" [(ngModel)]="project.description" required />
            <span *ngIf="description.touched && !description.valid" class="form_error">La descripción no es valida.</span>
        </p>
        <p>
            <label for="category">Categorias:</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required />
            <span *ngIf="category.touched && !category.valid" class="form_error">La categoría no es valida.</span>
        </p>
        <p>
            <label for="year">Año de lanzamiento:</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" required />
            <span *ngIf="year.touched && !year.valid" class="form_error">El año no es valido.</span>
        </p>
        <p>
            <label for="langs">Lenguajes:</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required />
            <span *ngIf="langs.touched && !langs.valid" class="form_error">El lenguaje no es valida.</span>
        </p>
        <p>
            <label for="img">Imagen del proyecto:</label>
            <input type="file" name="img"  placeholder="subir imagen" (change)="fileChangeEvent($event)" />
        </p>
        <input type="submit" value="Guardar" [disabled]="!projectForm.form.valid" />
    </form>
</section>
        

