<section class="container">
    <h2>{{tittle}}</h2>
    <form #projectForm = "ngForm" (ngSubmit) ='onSubmit(projectForm)'>
        <p>
            <label for="name">Nombre:</label>
            <input type="text" name="name" #name="ngModel" [(ngModel)]="project.name" required/>
            <span *ngIf="name.touched && !name.valid" class="form_error">El nombre no es valido.</span>
        </p>
        <p>
            <label for="description">Descripción:</label>
            <input type="text" name="description" #description="ngModel" [(ngModel)]="project.description" required />
            <span *ngIf="description.touched && !description.valid" class="form_error">La descripción no es valida.</span>
        </p>
        <p>
            <label for="category">Categorias:</label>
            <input type="text" name="category" #category="ngModel" [(ngModel)]="project.category" required />
            <span *ngIf="category.touched && !category.valid" class="form_error">La categoría no es valida.</span>
        </p>
        <p>
            <label for="year">Año de lanzamiento:</label>
            <input type="number" name="year" #year="ngModel" [(ngModel)]="project.year" required />
            <span *ngIf="year.touched && !year.valid" class="form_error">El año no es valido.</span>
        </p>
        <p>
            <label for="langs">Lenguajes:</label>
            <input type="text" name="langs" #langs="ngModel" [(ngModel)]="project.langs" required />
            <span *ngIf="langs.touched && !langs.valid" class="form_error">El lenguaje no es valida.</span>
        </p>
        <p>
            <label for="img">Imagen del proyecto:</label>
            <input type="file" name="img"  placeholder="subir imagen"/>
        </p>
        <input type="submit" value="Enviar" [disabled]="!projectForm.form.valid" />
    </form>
</section>

