<div [ngStyle]="{'background': config.color}">
    <h2>Bienvenido</h2>
    <!--
    <span>{{ descripcion }}</span>
    -->
    <span>Menu de navegación:</span>
    <nav>
        <a [routerLink]= "['/home']" [routerLinkActive]="['active']">Home</a>
        &nbsp;
        <a [routerLink]= "['/zapatos']" [routerLinkActive]="['active']">Zapatos</a>
        &nbsp;
        <a [routerLink]= "['/videojuegos']" [routerLinkActive]="['active']">Videojuegos</a>
        &nbsp;
        <a [routerLink]= "['/cursos']" [routerLinkActive]="['active']">Cursos</a>
        &nbsp;
        <a [routerLink]= "['/externo']" [routerLinkActive]="['active']">Externo</a>
        &nbsp;
        <a [routerLink]= "['/contacto']" [routerLinkActive]="['active']">Contacto</a>
    </nav>
    <hr>
   <router-outlet></router-outlet>
    <!--
    <button (click) = "ocultarVideojuegos(false)" *ngIf = "mostrarVideojuegos">Ocultar</button>
    <videojuego *ngIf = "mostrarVideojuegos"></videojuego>   
    <button (click) = "ocultarVideojuegos(true)" *ngIf = "!mostrarVideojuegos">Mostrar Videojuegos</button> 
    -->
</div>