body{
    background: url("../img/cielo.jpg");
    background-attachment: fixed;
}

#logo{
    background: #1f87c4;
}

#menu ul li:hover{
    background: #1f87c4;
}

.leer_mas{
    background: #1f87c4;
}