body{
    background-attachment: fixed;
}

*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

.bx-wrapper{
    margin-top: 35px;
}

.bx-wrapper, .bx-viewport{
    
    height: 300px !important;
}

#global{
    width: 70%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 25px;
    background: white;
    box-shadow: 0px 0px 2px #ccc;
}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    letter-spacing: 4px;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    line-height: 75px;
    text-transform: uppercase;
}

#menu{
    font-family: Helvetica, Arial, sans-serif;
    background: #333;
    width: 100%;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;    
    list-style: none;
    transition: all 300ms;
}

#menu li{
    height: 46px;
    display: inline-block;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 30px;
}

#post{
    width: 400px;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    padding: 7px;
}

#h2{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: #ccc;
}

#post fecha{
    color: gray;
    float: left;
    margin-top: 5px;
    display: block;
}

#post p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}

.leer_mas{
    padding: 15px;
    margin-bottom: 20px;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    width: 70px;
    font-size: 14px;
    text-align: center;
    float: left;
}

#sidebar{
    font-family: Helvetica, Arial,  sans-serif;
    width: 400px;
    float: right;
    margin-right: 10px;
}

#sidebar h4{
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url("../img/lines.png") repeat-x;
}

#sidebar h4 span{
    background: white;
    padding: 5px;
    text-align: center;
}

#sidebar img{
    width: 100%;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
}

#h2_titulo{
    margin-bottom: 10px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 30px;
    color: gray;
}

#form_contacto{
    width: 50%;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
}

#form_contacto label{
    width: 1000%;
    display: block;
    margin-top: 5px;
}


#form_contacto input[type="text"],
#form_contacto input[type="number"],
#form_contacto input[type="email"],
#form_contacto input[type="date"],
select{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 80%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px gray;
    margin-top: 5px;
}

select{
    width: 82%;
}

#form_contacto input[type = "submit"]{
    background: #ccc;
    padding: 10px;
    border: 1px solid gray;
    color: #333;
    cursor: pointer;
}


form input[type="text"],
form input[type="password"],
form input[type="email"]{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px gray;
    margin-top: 5px;
}

form input[type = "submit"]{
    background: #ccc;
    padding: 10px;
    border: 1px solid gray;
    color: #333;
    margin-top: 5px;
    cursor: pointer;
}

footer{
    font-family: Helvetica, Arial, sans-serif;
    color: white;
    height: 47px;
    background: rgb(51, 51, 51, 0.70);
    margin: 0px auto;
    width: 70%;
    padding-left: 26px;
    padding-right: 26px;
    margin-top: 30px;
    line-height: 27px;
}

#cambiador_temas{
    position: fixed;
    top: 40%;
    background: rgba(51, 51, 51, 0.7);
    width: 35px;
    height: 100px;
}

#cambia_verde,
#cambia_rojo,
#cambia_azul{
    width: 25px;
    height: 25px;
    border: 1px solid white;
    display: block;
    margin: 0px auto;
    margin-top: 5px;
    margin-bottom: 5px;
    cursor: pointer;
}

#cambia_verde{
    background: #235e3d;
}

#cambia_rojo{
    background: #ca3413;
}

#cambia_azul{
    background: #1f87c4;
}

.subir{
    color: white;
    text-decoration:none;
    float: right;
}

#acordeon{
    width: 50%;
    float: left;
    margin-top: 10px;
}

 .ui-accordion .ui-accordion-content{
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
}

.ui-accordion .ui-accordion-header{
    font-family: Helvetica, Arial, sans-serif;
    color: white;
}

.help-block.form-error{
    float: right;
    font-family: Helvetica, Arial, sans-serif;
    color: #ca3413;
    font-size: 18px;
    width: 80%;
}