body{
    background: url("../img/hojas.jpg");
    background-attachment: fixed;
}

*{
    margin: 0px;
    padding: 0px;
}

.clearfix{
    float: none;
    clear: both;
}

#global{
    width: 65%;
    margin: 0px auto;
    margin-top: 30px;
    padding: 25px;
    background: white;
    box-shadow: 0px 0px 2px #ccc;
}

#logo{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 27px;
    letter-spacing: 4px;
    background: #235e3d;
    color: white;
    text-align: center;
    width: 385px;
    height: 80px;
    float: left;
    margin-bottom: 20px;
    line-height: 75px;
    text-transform: uppercase;
}

#menu{
    font-family: Helvetica, Arial, sans-serif;
    background: #333;
    width: 100%;
    margin-bottom: 20px;
}

#menu ul{
    line-height: 46px;    
    list-style: none;
    transition: all 300ms;
}

#menu li{
    height: 46px;
    display: inline-block;
}

#menu ul li:hover{
    background: #235e3d;
}

#menu a{
    display: block;
    color: white;
    text-decoration: none;
    padding-left: 20px;
    padding-right: 30px;
}

#post{
    width: 450px;
    float: left;
    font-family: Helvetica, Arial, sans-serif;
    padding: 7px;
}

#post h2{
    font-size: 30px;
    color: #ccc;
}

#post fecha{
    color: gray;
    float: left;
    margin-top: 5px;
    display: block;
}

#post p{
    margin-top: 10px;
    margin-bottom: 20px;
    line-height: 22px;
    text-align: justify;
}

.leer_mas{
    padding: 15px;
    margin-bottom: 20px;
    background: #235e3d;
    color: white;
    text-decoration: none;
    margin-top: 10px;
    display: block;
    width: 70px;
    font-size: 14px;
    text-align: center;
    float: left;
}

#sidebar{
    font-family: Helvetica, Arial,  sans-serif;
    width: 350px;
    float: right;
    margin-right: 10px;
}

#sidebar h4{
    margin-bottom: 20px;
    margin-top: 50px;
    text-align: center;
    line-height: 10px;
    color: #333;
    background: url("../img/lines.png") repeat-x;
}

#sidebar h4 span{
    background: white;
    padding: 5px;
    text-align: center;
}

#sidebar img{
    width: 100%;
}

#sidebar p{
    font-size: 15px;
    text-align: justify;
}

form input[type="text"],
form input[type="password"],
form input[type="email"]{
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #ccc;
    width: 100%;
    margin-bottom: 10px;
    box-shadow: 0px 0px 2px gray;
    margin-top: 5px;
}

form input[type = "submit"]{
    background: #ccc;
    padding: 10px;
    border: 1px solid gray;
    color: #333;
    cursor: pointer;
}
