<h2>{{titulo}}</h2>
<p>Compra solo las mejores marcas</p>
<ul>
    <li *ngFor = "let marcas of marcas">
        {{marcas}}
    </li>
</ul>
<p>Le sugerimos la marca: {{miMarca}}.</p>
<p>Añadir marca</p>
<p>
    <input type="text" [(ngModel)] = "miMarca" />
</p>
<button (click)="getMarca()">Mostrar marca.</button>
<br>
<button (click)="addMarca()">Añadir marca.</button>
<p>Modelos disponibles</p>
<ul>
    <li *ngFor = "let tenis of zapatos_array">
        <span [ngStyle] = "{'text-decoration': !tenis.stock ? 'line-through': 'none'}">
            {{tenis.nombre}} - <strong>{{tenis.precio}}$</strong>
        </span>
            <span *ngIf= "tenis.precio < 750" [style.background] = "tenis.precio < 750 ? 'red': 'transparent'">
                ¡En Oferta!
            </span>
    </li>
</ul>
<span>El colo de nuestros tenis es:</span>
<input type="text" [(ngModel)]="color" />
<ul [ngSwitch] = "color">
    <li *ngSwitchCase = "'blue'">
        El color predominantes es <span [ngStyle]="{'background':color}">Azul.</span>
    </li>
    <li *ngSwitchCase = "'red'">
        El color predominantes es <span [ngStyle]="{'background':color}">Rojo.</span>
    </li>
    <li *ngSwitchCase = "'green'">
        El color predominantes es <span [ngStyle]="{'background':color}">Verde.</span>
    </li>
    <li *ngSwitchCase = "'white'">
        El color predominantes es <span [ngStyle]="{'background':color}">Blanco.</span>
    </li>
</ul>