<header>
  <div id="div_header_logo">
    <a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">
      <img id="logo" src="../assets/img/18fa6323-133e-4276-a96a-a30c15d6e532_200x200_opt.png" />
    </a>
  </div>
  <div id="div_header_lista">
    <ul>
      <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre mi</a></li>
      <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
      <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></li>
      <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
    </ul>
  </div>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>
  <footer>
      <div id="footer_name">
        <p>Master en Javascript de José López Guerrero.</p>
        <!--Iconos diseñados por <a href="https://www.flaticon.es/autores/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>-->
      </div>
      <div id="footer_links">
        <ul>
          <li><a href="https://www.facebook.com/profile.php?id=100001126361627">Facebook</a></li>
          <li><a href="https://github.com/JoseLG03">Github</a></li>
          <li><a href="https://www.linkedin.com/in/jose-lopez-70588596/">Linkened</a></li>
        </ul>
      </div>
  </footer>