<header>
  <div id="div_header_logo">
    <a [routerLink]="['/inicio']" [routerLinkActive]="['actived']">
      <img id="logo" src="../assets/img/005-development-1.ico" />
    </a>
  </div>
  <div id="div_header_lista">
    <ul>
      <li><a [routerLink]="['/inicio']" [routerLinkActive]="['actived']">Inicio</a></li>
      <li><a [routerLink]="['/proyectos']" [routerLinkActive]="['actived']">Proyectos</a></li>
      <li><a [routerLink]="['/crear-proyecto']" [routerLinkActive]="['actived']">Crear Proyecto</a></li>
      <li><a [routerLink]="['/contacto']" [routerLinkActive]="['actived']">Contacto</a></li>
    </ul>
  </div>
</header>
<section id="content">
  <router-outlet></router-outlet>
</section>
  <footer>
      <div id="footer_name">
        <p>
          Desarrollado por José López Guerrero.&#174;
        </p>
        <!--Iconos diseñados por <a href="https://www.flaticon.es/autores/alfredo-hernandez" title="Alfredo Hernandez">Alfredo Hernandez</a> from <a href="https://www.flaticon.es/" title="Flaticon"> www.flaticon.es</a>-->
      </div>
      <div id="footer_links">
        <ul>
          <li><a href="https://www.facebook.com/profile.php?id=100001126361627"><img src="./../assets/img/021-facebook.png" class="redesSociales" id="face"></a></li>
          <li><a href="https://github.com/JoseLG03"><img src="./../assets/img/038-github.png" class="redesSociales"></a></li>
          <li><a href="https://www.linkedin.com/in/jose-lopez-70588596/"><img src="./../assets/img/045-linkedin.png" class="redesSociales"></a></li>
        </ul>
      </div>
  </footer>